{% extends 'base.template.html' %}

{% block content %}
<h1>Create a New Book</h1>
<form method="POST">
    <div class="col-6 mt-3">
    <label class="form-label">Title:</label>
    <input type="text" class="form-control" name="title" placeholder="Enter the title of the book: ">
    </div>
    <div class="col-6 my-4 d-flex flex-column justify-content-start">
    <label class="form-label">Author:</label>
    <input type="text" class="form-control" name="author" placeholder="Enter the name of the Author of the Book: ">
    </div>
    <div class="my-4">
    <input type="submit" class="btn btn-primary">
    </div>
</form>

{% endblock %}